{%  extends 'account/base.html' %}


{% block title %}
    Family Data
{% endblock %}

{% block extra_head %}

{% endblock %}



{% block base_content %}



<form action="" id="volunteerIdx" method="post">{% csrf_token %}
    <div class="row">

        <div  class ="row" id = "profileHeader"; style="color:#C0C0C0; margin-top: 5%; margin-bottom: -7%; text-align: center">
                    <h2 class="vmsHeader" style="text-align: center; margin-top: 50px">Consolidated Family Data</h2>

                </div>

            <div class="table-responsive" style="padding:5%; margin-top: 3%">

        <table id="volIndex" class="table table-condensed table-striped table-bordered datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Volunteer</th>
                <th>Family</th>
                <th>School Year</th>
                <th>Type</th>
                <th>Hours</th>
            </tr>
        </thead>

        <tbody>
                {% for rec in familyindex %}
                <tr>
                <td>{{rec.name}}</td>
                <td>{{rec.familyname}}</td>
                <td>{{ rec.year }}</td>
                <td>{{ rec.Type }}</td>
                <td>{{ rec.volunteerHours}}</td>
                </tr>
                {%  endfor %}
         </tbody>

</table>
        </div>

</div>
 </form>
{%  endblock %}


{% block extraJquery %}

    <script>
    $("#newFam").click(function(){
        $('#volunteerIdx').attr("method",'')

    })
    </script>

    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            trigger : 'hover'
        });
    });
    </script>
{% endblock %}

