{%  extends 'account/base.html' %}


{% block title %}
    Family Index
{% endblock %}

{% block extra_head %}

{% endblock %}



{% block base_content %}




    <div class="row">

        <div  class ="row" id = "profileHeader"; style="color:#C0C0C0; margin-top: 5%; margin-bottom: -7%; text-align: center">
                    <h2 class="vmsHeader" style="text-align: center; margin-top: 50px">Family Index</h2>
                </div>

            <div class="table-responsive" style="padding:5%; margin-top: 3%">

    <table id="volIndex" class="table table-condensed table-striped table-bordered datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Family Name</th>
                <th>Status</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>Volunteers</th>
                <th>Students</th>
                <th>Hours</th>
                <th>Traffic</th>

            </tr>
        </thead>

        <tbody>
            {%  for fam in FamilyIndex %}
                <tr>
                <td align="center"><a href="#" class="glyphicon glyphicon-edit" data-toggle="popover"  data-trigger="focus"
                                      title="Edit <b>{{ fam.familyName }}</b>"
                                      data-content="<ul style='list-style-type:none'>
                                                    <li style='margin-left:-20%'><a href='{%  url 'home' %}'>Change Option 1</a></li>
                                                    <li style='margin-left:-20%'><a href='#'>Change Option 2</a></li>
                                                    <li style='margin-left:-20%'><a href='#'>Change Option 3</a></li>
                                                    </ul>"></a></td>
                <td><a href={% url 'familyprofile' fam.familyProfileId  %}>{{ fam.familyName }}</a></td>
                <td>
                    {% if fam.active %}
                     <span class="glyphicon glyphicon-ok" style='color: green;'>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red">
                      {% endif %}
                        </span>
                </td>
                <td>{{ fam.streetAddress }}</td>
                <td>{{ fam.city }}</td>
                <td>{{ fam.zip }}</td>
                <td>{{ fam.listVolunteers }}</td>
                <td>{{ fam.listStudents }}</td>
                <td>{{ fam.totalCurrentHours|floatformat:2 }}</td>
                    {% ifequal fam.totalCurrentTrafficDutyCount fam.trafficRequirement %}
                    <td>{{ fam.totalCurrentTrafficDutyCount }}/{{ fam.trafficRequirement }} <span class="glyphicon glyphicon-star" style="color: green; margin-left: 5%"></span></td>
                    {% else %}
                <td>{{ fam.totalCurrentTrafficDutyCount }}/{{ fam.trafficRequirement }}</td>
                    {% endifequal %}

            </tr>
        {% endfor %}
         </tbody>

</table>
        </div>

</div>

{%  endblock %}


{% block extraJquery %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({html:true});
});
</script>
{% endblock %}

