
<div class="panel panel-default user-data-panel"style="margin-top: 2%">
        <div class="panel-heading">
            <h4 class="panel-title" style="margin-top:8px"> Family Volunteers
            {% if perms.nsavolunteer.is_volunteer_manager%}
                <a class='fa fa-plus-circle pull-right' style="font-size: large" data-toggle='modal' data-target="#checkVolunteerEmail" href="#" >  Add Volunteer</a>
            {% endif %}
            </h4>
        </div>
            {%  if family.famvolunteers.all %}
            <table class="table table-hover table-bordered table-condensed">
                 <thead>
                    <tr>
                    <th></th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Cell Phone</th>
                    <th>Volunteer Type</th>
                    <th>Volunteer Status</th>
                    <th width="3%">Updated Interests</th>
                    </tr>
                </thead>
        <tbody>

            {% for vol in family.famvolunteers.all %}
            <tr>
                            <td style="white-space: nowrap; width: 5%">
                    <a href="{%  url 'updateVolunteerProfile' vol.linkedUser.volunteerProfileID  family.familyProfileId %}"><button type="button" class="btn btnnavy btn-xs">Edit</button></a>
                    <a href="{%  url 'removeContactFromFamily' family.familyProfileId vol.id %}"><button type="button" class="btn btn-danger btn-xs">Remove</button></a>
                </td>
                <td>
                    {% if vol.is_active %}
                     <span class="glyphicon glyphicon-ok" style='color: green;'>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red">
                      {% endif %}
                        </span>
                </td>
                <td>{{ vol.linkedUser.fullName}}</td>
                <td>
                    {% if perms.nsavolunteer.is_volunteer_manager%}
                        <a href="{% url 'editVolunteerLoginAdmin' vol.id %}">{{ vol.email }}</a>
                    {% else %}
                        {{ vol.email }}
                    {% endif %}
                </td>
                <td>{{ vol.linkedUser.cellPhone|default:""}}</td>
                <td>{{ vol.linkedUser.volunteerType|default:" "}}</td>
                <td>{{ vol.linkedUser.get_volStatus_display|default:" "}}</td>
                <td> {% if vol.linkedUser.interest.all %}
                        <span class="glyphicon glyphicon-ok" style='color: green;'>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red">
                      {% endif %}
                        </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            </table>
        {% else %}

      <h5 style="color: red; text-align: center">No Volunteers have been entered for the {{ family.familyName }}</h5>
    {% endif %}
{%  include 'modals/addNewVolunteerToFamily.html' %}


</div>



