<div class="col-md-12">

        <h4 style="color:navy"><b>Students</b></h4>
        {%  if family.students.all %}
            <table class="table table-hover table-bordered table-condensed">
                 <thead>
                    <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Grade</th>
                    <th>Teacher</th>
                    <th>Status</th>
                    </tr>
                </thead>
        <tbody>

            {% for stu in family.students.all %}
            <tr>
                <td align="center"><a href="#" class="glyphicon glyphicon-edit" data-toggle="popover"  data-trigger="focus"
                                      title="Edit Student: <b>{{ stu.getFullStudentName }}</b>"
                                      data-content="<ul style='list-style-type:none'>
                                                    <li style='margin-left:-20%'><a href='{% url 'updatestudent' stu.studentId %}'>Edit {{ stu.studentFirstName }}'s information</a></li>
                                                    <li style='margin-left:-20%'><a href='{%  url 'home' %}'>Remove {{ stu.studentFirstName }} from {{ family.familyName}}</a></li>
                                                    </ul>"></a></td>
                <td>{{ stu.getFullStudentName}}</td>
                <td>{{ stu.grade}}</td>
                <td>{{ stu.teacher}}</td>
                <td> {% if stu.activeStatus == True %}
                        <span class="glyphicon glyphicon-ok" style='color: green;'>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red">
                      {% endif %}
                        </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
            </table>
    {% else %}
      <h5 style="color: red">No Students have been entered for the {{ family.familyName }}</h5>
    {% endif %}
</div>