{%  extends 'account/base.html' %}


{% block title %}
    Family Index
{% endblock %}

{% block extra_head %}

{% endblock %}



{% block base_content %}

<br><br><br><br><br><br><br>

<form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    <table class="table table-condensed table-striped table-bordered datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                 <th style="text-align: center"><input type="checkbox" name="toggle" id="checkToggle"></th>
                <th>Volunteer</th>
                <th>Family</th>
                <th>Hours</th>
                <th>Traffic</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in lx %}

                    <tr>
                        <td align="center"><input type="checkbox" name="UserRecs" value="#"></td>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.family__familyName}}</td>
                        <td>{{ obj.family__familyAgg__totalVolHours }}</td>
                        <td>{{ obj.family__familyAgg__trafficDutyCount }}</td>
                    </tr>

            {% endfor %}
        </tbody>

    </table>
{%  endblock %}



