{%  extends 'account/base.html' %}


{% block title %}
    Volunteer Index
{% endblock %}

{% block extra_head %}

{% endblock %}



{% block base_content %}

    <div class="row">

            <div class="table-responsive" style="padding:5%; margin-top: 3%">

    <table id="volIndex" class="table table-condensed table-striped table-bordered datatable" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th>Type</th>
                <th>Email</th>
                <th>Family Membership</th>

            </tr>
        </thead>

        <tbody>
        {%  for vol in volunteerIndex %}
            {% if vol.getFamilies == "Not tied to family" %}
                <tr class="danger">
            {%  else %}
                <tr>
            {%  endif %}
                <td align="center"><a href="#" class="glyphicon glyphicon-edit" data-toggle="popover"  data-trigger="focus"
                                      title="Edit <b>{{ vol.linkedUserAccount.name }}</b>"
                                      data-content="<ul style='list-style-type:none'>
                                                    <li style='margin-left:-20%'><a href='{%  url 'home' %}'>Change Option 1</a></li>
                                                    <li style='margin-left:-20%'><a href='#'>Change Option 2</a></li>
                                                    <li style='margin-left:-20%'><a href='#'>Change Option 3</a></li>
                                                    </ul>"></a></td>
                <td>{{ vol.firstName }}</td>
                <td>{{ vol.lastName }}</td>
                <td>{{ vol.volStatus }}</td>
                <td>{{ vol.volunteerType }}</td>
                <td>{{ vol.linkedUserAccount.email }}</td>
                <td>{{ vol.getFamilies|safe }}</td>
            </tr>
        {% endfor %}
         </tbody>
</table>

        </div>

</div>

{%  endblock %}


{% block extraJquery %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({html:true});
});
</script>
{% endblock %}

