{%  extends 'tables/volunteerIndexHeader.html' %}
{% load appFilters %}

{% block title %}
    Volunteer Index
{% endblock %}

{% block extra_head %}

{% endblock %}

  {% block tabledata %}

    <table id="volIndex" class="table table-condensed table-striped table-bordered datatable" cellspacing="0" width="100%">

        <thead>
            <tr>
                {% if perms.nsavolunteer.is_volunteer_manager%}
                <th style="text-align: center"><input type="checkbox" name="toggle" id="checkToggle"></th>
                    <th></th>
                    <th>AVC</th>
                {% endif %}
                <th>Status</th>
                <th>First Name</th>
                <th>Last Name</th>
                 <th>Status</th>
                <th>Type</th>
                <th>Email</th>
                <th>Family Membership</th>
                <th>Interests</th>
            </tr>
        </thead>

        <tbody>
        {%  for vol in volunteerIndex %}

                <tr>
                {% if perms.nsavolunteer.is_volunteer_manager%}
                <td align="center"><input type="checkbox" name="UserRecs" value="{{ vol.linkedUser.volunteerProfileID }}"></td>
                <td align="center" style="width: 2%"><a href="{% url 'dm_view_user_dash' vol.id %}"><button type="button" class="btn primary btn-xs">Dashboard</button></a></td>
                <td>{{ vol.groups.all|is_avc|default:''|safe}}</td>
                {% endif%}
                <td>
                    {% if vol.is_active %}
                     <span class="glyphicon glyphicon-ok" style='color: green;'><div style='display: none;'>Active</div>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red"><div style='display: none;'>Inactive</div>
                      {% endif %}
                        </span>
                </td>
                <td>{{ vol.linkedUser.firstName }}</td>
                    {% if  vol.groups.all|is_avc %}
                    <td>{{ vol.linkedUser.lastName }} (AVC)</td>
                    {% else %}
                    <td>{{ vol.linkedUser.lastName }}</td>
                    {% endif %}

                <td>{{ vol.linkedUser.get_volStatus_display }}</td>
                <td>{{ vol.linkedUser.volunteerType|default:"" }}</td>
                <td>
                    {% if perms.nsavolunteer.is_volunteer_manager%}
                        <a href="{% url 'editVolunteerLoginAdmin' vol.id %}">{{ vol.email }}</a>
                    {% else %}
                        {{ vol.email }}
                    {% endif %}
                </td>
                <td>
                    {% for fam in vol.family.all %}
					    <a href='familyprofile/{{ fam.familyProfileId }}' target='_blank'>{{ fam.familyName }}</a>{%if not forloop.last %}, {% endif %}
				    {% endfor %}
                </td>
                <td> {% if vol.linkedUser.interest.all|length >= 1 %}
                        <span class="glyphicon glyphicon-ok" style='color: green;'><div style='display: none;'>Complete</div>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red"><div style='display: none;'>Not Updated</div>
                      {% endif %}
                        </span>
                </td>
            </tr>
        {% endfor %}
         </tbody>

</table>


{%  endblock %}


