{%  extends 'account/base.html' %}


{% block title %}
    Volunteer Index
{% endblock %}

{% block extra_head %}

{% endblock %}



{% block base_content %}


    <form action="" id="volunteerIdx" method="post">{% csrf_token %}
    <div class="row">

        <div  class ="row" id = "profileHeader"; style="color:#C0C0C0; margin-top: 5%; margin-bottom: -7%; text-align: center">
                    <h3 class="vmsHeader">Volunteer Index</h3>
                </div>

            <div class="table-responsive" style="padding:5%; margin-top: 3%">



        {% if perms.nsavolunteer.is_volunteer_manager%}
            <div class="col-sm-6">
          <div class="input-group" style="margin-left: -2.5%; width: 70%">
          <select id="formActionSelect" class="form-control">
            <option value="" data-toggle="">---Select Action---</option>
            <option value="{% url 'markAsPending' %}">Mark selected users as pending</option>
            <option value="{% url 'markAsApproved' %}">Mark selected users as approved</option>
            <option value="{% url 'activateUserAccount' %}">Activate user account</option>
            <option value="{% url 'deactivateUserAccount' %}">Deactivate user account</option>

                <option value="{% url 'markAsAvc' %}">Mark as AVC</option>


          </select>
              <span class="input-group-btn">
                  <button class="btn btnnavy" type="submit" id="formActionBtn" formaction="x" value="Go"/>Go</button>
                  <button class="btn btn-default" type="submit" id="newUsr" formaction="{% url 'addVolunteer_woFamily' %}" data-toggle="popover"
                          value="Go" title="Adding a new volunteer?"
                          data-content="If you are adding a new volunteer, it's recommended
                           you add the user through a family's page. Doing so will
                           link the user to the appropriate family."
                          data-placement="bottom"
                          style="margin-left: 2%">Add Volunteer
                  </button>

              </span>
          </div>
        </div>
         {% endif %}

    <table id="volIndex" class="table table-condensed table-striped table-bordered datatable" cellspacing="0" width="100%">

        <thead>
            <tr>
                {% if perms.nsavolunteer.is_volunteer_manager%}
                <th style="text-align: center"><input type="checkbox" name="toggle" id="checkToggle"></th>
                {% endif %}
                <th>Status</th>
                <th>First Name</th>
                <th>Last Name</th>
                 <th>Status</th>
                <th>Type</th>
                <th>Email</th>
                <th>Family Membership</th>
                <th>Interests</th>
            </tr>
        </thead>

        <tbody>
        {%  for vol in volunteerIndex %}

                <tr>
                {% if perms.nsavolunteer.is_volunteer_manager%}
                <td align="center"><input type="checkbox" name="UserRecs" value="{{ vol.linkedUser.volunteerProfileID }}"></td>
                {% endif%}
                <td>
                    {% if vol.is_active %}
                     <span class="glyphicon glyphicon-ok" style='color: green;'>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red">
                      {% endif %}
                        </span>
                </td>
                <td>{{ vol.linkedUser.firstName }}</td>
                <td>{{ vol.linkedUser.lastName }}</td>
                <td>{{ vol.linkedUser.get_volStatus_display }}</td>
                <td>{{ vol.linkedUser.volunteerType|default:"" }}</td>
                <td>{{ vol.email }}</td>
                <td>
                    {% for fam in vol.family.all %}
					    <a href='familyprofile/{{ fam.familyProfileId }}' target='_blank'>{{ fam.familyName }}</a>{%if not forloop.last %}, {% endif %}
				    {% endfor %}
                </td>
                <td> {% if vol.linkedUser.interest.all|length >= 1 %}
                        <span class="glyphicon glyphicon-ok" style='color: green;'>
                     {%  else %}
                        <span class="glyphicon glyphicon-remove" style="color: red">
                      {% endif %}
                        </span>
                </td>
            </tr>
        {% endfor %}
         </tbody>

</table>
    </div>
</div>

    </form>


{%  endblock %}


{% block extraJquery %}

<script>
$(document).ready(function(){
    myVal = $('#formActionSelect').change(function(){
        $('#formActionBtn').attr("formaction",$('#formActionSelect').val())
    });
});
</script>



<script>
$("#checkToggle").change(function () {
    $("input:checkbox").prop('checked', $(this).prop("checked"));
});
</script>


<script>
$("#newUsr").click(function(){
    $('#volunteerIdx').attr("method",'')

})
</script>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        trigger : 'hover'
    });
});
</script>
{% endblock %}




