

<!-- Modal -->


<div class="modal fade" id="checkVolunteerEmail" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                 <h2 class="modal-title" id="memberModalLabel" style="color: #000059">Add User to Family</h2>

            </div>
            <form action='{% url 'processContactToFamily' family.familyProfileId %}'>
            <div class="modal-body">
                <p>This will look for existing email address - If one exists, it will create the relationship between the family and the user. If not, it will prompt to
                create a new user. When user is created, it will create the relationship and send an email to the new user.</p>

				<div id='emailWarn' style="margin-top: -5px; color: red;display: none">Please enter a valid email address:</div>
				<input type="text" class="form-control" id='emailAddy' name="emailaddress" placeholder="Enter Email Address">

            </div>
            <div class="modal-footer">
                <button type="submit" id="submit" class="btn btnnavy">Submit</button>
                <button type="button" class="btn btnnavy" data-dismiss="modal">Cancel</button>
                </div>
                </form>

        </div>
    </div>

</div>

{% block extraJquery %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
$('input').blur(function() {
    var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
    if (testEmail.test(this.value))
    {
    $('#submit').prop('disabled', false);
    $('#emailWarn').hide()
    }
    else
    {
    $('#submit').prop('disabled', true);
    $('#emailWarn').show()
    }
});
</script>
{%  endblock %}