

<!-- Modal -->


<div class="modal fade" id="deleteVolunteerEvent_{{hrs.volunteerHoursId}}" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                 <h2 class="modal-title" id="memberModalLabel" style="color: #000059">Are you sure you want to delete?</h2>

            </div>
            <div class="modal-body">
                <p><b style="color: #000059">Hey {{ curUser.linkedUser.firstName }}!</b>
                    <BR>Are you sure you want to delete <u>{{ hrs.event }}</u> you entered for {{ hrs.eventDate  }} from your profile? This will remove
                {{ hrs.volunteerHours }} hour{{ hrs.volunteerHours|pluralize }} from your current total.</p>

            </div>
            <div class="modal-footer">
                <a href="{%  url 'deleteUserHours' hrs.volunteerHoursId  %}" class="btn btnnavy">Delete</a>
                <button type="button" class="btn btnnavy" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
