#mainContainer{
    margin: 2% 5% 5% 5% ;
}

#navContainer{
    margin-top: 1%;
}

.nav-pills li.active a{
    background-color: #E6E6E6;
    color: black;
}
.nav-pills li.active a:hover{
    background-color: #E6E6E6;
    color: black;
}

.nav-pills li a:hover{
    background-color: transparent;
    text-decoration: underline;
}
.nav-pills li.active a:focus{
    background-color: transparent;
    color: black;
}

#LoginForm{
   width: 300px;
   margin: 0 auto;
}

.profileBlock {
    #border:1px solid #a3a3a3 ;
}

.profileBlock .dataLabel{
    text-align: right;
    padding-right: 0;
    color: #a3a3a3;
}
.profileBlock .dataValue {
    text-align: left;
    margin-left: -10px;
}


.interestTable{

}

.interestTable td{
   padding: 0 20px 0 0;

}

#volunteerProfileForm{
       width: 400px;
   margin: 0 auto;
}