
body{
    font-family: "American Typewriter";
}


.homepage-banner{
background-image: url("/static/img/NSAStudents.jpeg");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 450px;
margin-bottom: 50px;
}

.header-text{
    font-size: 20px;
    margin-top: 25%;
    background-color: rgba(0,0,0,0.4);
    padding: 5px;
    border-radius: 10px;
    margin-left: auto;
    font-family: arial;
}

.homepage-header{
    font-size: 50px;
    color: white;
    font-weight: 600;
}

.center{
    text-align: center;
}

#LoginForm{
   width: 300px;
   margin: 0 auto;
   margin-top: 5%;
}

.profileBlock {
    #border:1px solid #a3a3a3 ;
    margin: 5%;
}

.profileBlock .dataLabel{
    text-align: right;
    padding-right: 0;
    color: #a3a3a3;
}
.profileBlock .dataValue {
    text-align: left;
    margin-left: -10px;
}


.interestTable{

}

.interestTable td{
   padding: 0 20px 0 0;

}

#volunteerProfileForm{
       width: 400px;
   margin: 0 auto;
}