{%  extends 'account/base.html' %}
{% block base_content %}

    <div class="container-fluid homepage-banner" style="padding-left: -10px">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offfset-3 col-lg-7 center">
            <div class="header-text">
                <h2 class="homepage-header">
                      {% if user.is_authenticated %}
                        You Make a Difference!
                      {% else %}
                          Our Volunteers Make a Difference!
                      {% endif %}
                </h2>

            </div>
        </div>

    </div>

    <div class='container'>
        <div class="row" id="faq">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-child homeIcons'></span>
                </div>
                <div class="center homepage-component">
                    <h3>Log Hours</h3>
                    Log your volunteer hours simply and easily.
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-gear homeIcons'></span>
                </div>
                 <div class="center homepage-component">
                    <h3>Set Up Your Profile</h3>
                    Set up or update your profile and select volunteer interests
                 </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-shopping-cart homeIcons'></span>
                </div>
                 <div class="center homepage-component">
                    <h3>Track Shopping Credits</h3>
                    Track credits earned through King Soopers and Safeway gift cards.
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-tachometer homeIcons' ></span>
                </div>
                 <div class="center homepage-component">
                    <h3>Keep Track of Total Hours</h3>
                    Track your total number of volunteer hours.

                </div>
            </div>
        </div>
        <div class="row">
            <div class="center faq-title">
                <!--<h2>Frequently Asked Questions</h2>-->
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Find What Fits</i></h3>
                <p class="answer">
                    Volunteering can take on many forms from helping in the classroom, assisting staff in the
                    lunchroom and on the playground, or doing projects at home.

                </p>
                </div>

                 <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Annual Requirement</i></h3>
                <p class="answer">
                    At NSA, each family is required to volunteer a minimum of 40 hours per academic year
                    (or 20 hours for single parent families – you must contact the Volunteer Coordinator to qualify)
                </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Before You Get Started</i></h3>
                    <p class="answer">
                        In order to access VMS and log your hours, you must return the necessary school <a href="http://www.nstaracademy.org/volunteer/handbook-forms/" target="_blank">
                        registration forms and DCSD Parent Volunteer Agreement.</a>
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Stay Current</i></h3>
                    <p class="answer">
                    At the start of each new school year volunteers are required to log into the VMS to verify and update
                        their contact information and to update their student information.
                    </p>
                </div>
            </div>



        </div>
    </div>


{%  endblock %}

