{%  extends 'account/base.html' %}
{% block base_content %}

    <div class="container-fluid homepage-banner" style="padding-left: -10px">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offfset-3 col-lg-7 center">
            <div class="header-text">
                <h2 class="homepage-header">
                      {% if user.is_authenticated %}
                        You Make a Difference!
                      {% else %}
                          Our Volunteers Make a Difference!
                      {% endif %}
                </h2>

            </div>
        </div>

    </div>

    <div class='container'>
        <div class="row row-centered" id="faq">
            <div class="col-xs-12 col-sm-6 col-md-3 col-centered">
                <div class='center'>
                    {% if user.linkedUser.volStatus == 'approved' %}
                        <a class='fa fa-child homeIcons' href="{% url 'logUserHours' %}"></a>
                     {% else %}
                        <a class='fa fa-child homeIcons' href="{% url 'userVolunteerData' %}"></a>
                    {% endif %}

                </div>
                <div class="center homepage-component">
                    <h3>Log Hours</h3>
                    Log your volunteer hours simply and easily.
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 col-centered">
                <div class='center'>
                    <a class='fa fa-gear homeIcons' href="{% url 'user_profile' %}"></a>
                </div>
                 <div class="center homepage-component">
                    <h3>Manage Your Profile</h3>
                    Manage your profile and select volunteer interests
                 </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-3 col-centered">
                <div class='center'>
                    <a class='fa fa-tachometer homeIcons' href="{% url 'userVolunteerData' %}" ></a>
                </div>
                 <div class="center homepage-component">
                    <h3>Keep Track of Total Hours</h3>
                    Track your total number of volunteer hours.

                </div>
            </div>
        </div>



        <div class="row">
            <div class="center faq-title">
                <!--<h2>Frequently Asked Questions</h2>-->
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">

                <div class="faq-item">
                    <h3 class="question"><b>Annual Requirement</b></h3>
                        <p class="answer">
                            At NSA, each family is required to volunteer a minimum of 40 hours per academic year (or 20 hours for single parent families – you must contact the Volunteer Coordinator to qualify) including six (6) shifts of Traffic Duty.
                            See the Volunteer Handbook for additional information.
                        </p>
                </div>


                <div class="faq-item">
                    <h3 class="question"><b>Find What Fits</b></h3>
                <p class="answer">
                    Volunteering can take on many forms from helping in the classroom, assisting staff in the lunchroom, doing projects at
                    home, making donations, or using your shopping reward cards

                </p>
                </div>



            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><b>Before You Get Started</b></h3>
                    <p class="answer">
                        In order to access VMS and log your hours, you must return the necessary school <a href="http://www.nstaracademy.org/volunteer/handbook-forms/" target="_blank">
                        registration forms and DCSD Parent Volunteer Agreement.</a>
                    </p>
                </div>

                <div class="faq-item">
                    <h3 class="question"><b>Stay Current</b></h3>
                    <p class="answer">
                    At the start of each new school year volunteers are
                        required to log into VMS to verify and update their contact information, update their student information, and add volunteer interests.
                    </p>
                </div>
            </div>




        </div>
    </div>


{%  endblock %}

