{%  extends 'account/base.html' %}
{% block base_content %}

    <div class="container-fluid homepage-banner" style="padding-left: -10px">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offfset-3 col-lg-7 center">
            <div class="header-text">
                <h2 class="homepage-header">
                    Our Volunteers Make a Difference!
                </h2>

            </div>
        </div>

    </div>

    <div class='container'>
        <div class="row" id="faq">

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-child' style="font-size: 5em; color: #191970"></span>
                </div>
                <div class="center homepage-component">
                    <h3>Title 1</h3>
                    blah blah blah blah blah
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-gear' style="font-size: 5em; color: #191970"></span>
                </div>
                 <div class="center homepage-component">
                    <h3>Title 2</h3>
                    blah blah blah blah blah
                 </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-laptop' style="font-size: 5em; color: #191970"></span>
                </div>
                 <div class="center homepage-component">
                    <h3>Title 3</h3>
                    blah blah blah blah blah
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class='center'>
                    <span class='fa fa-cube' style="font-size: 5em; color: #191970"></span>
                </div>
                 <div class="center homepage-component">
                    <h3>Title 4</h3>
                    blah blah blah blah blah

                </div>
            </div>
        </div>
        <div class="row">
            <div class="center faq-title">
                <!--<h2>Frequently Asked Questions</h2>-->
            </div>


            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Section Header 1</i></h3>
                <p class="answer">
                    Volunteering can take on many forms from helping in the classroom, assisting staff in the
                    lunchroom and on the playground, or doing projects at home.

                </p>
                </div>

                 <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Section Header 1</i></h3>
                <p class="answer">
                    At NSA, each family is required to volunteer a minimum of 40 hours per academic year
                    (or 20 hours for single parent families – you must contact the Volunteer Coordinator to qualify)
                </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Section Header 2</i></h3>
                    <p class="answer">
                        In order to access VMS and log your hours, you must return the necessary school registration
                    forms and DCSD Parent Volunteer Agreement.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12 faq-col">
                <div class="faq-item">
                    <h3 class="question"><i class='fa fa-genderless'> Section Header 2</i></h3>
                    <p class="answer">
                    At the start of each new school year volunteers are required to log into the VMS to verify and update
                        their contact information and to update their student information.
                    </p>
                </div>
            </div>



        </div>
    </div>


{%  endblock %}

