{%  extends 'account/base.html' %}


{% block title %}
    {{ family.familyName}} Profile
{% endblock %}


{% block base_content %}
<div class="container-fluid" style="padding: 7%">
    <div class="row" style="margin-top: 2%">
                <div  class ="row" id = "profileHeader"; style="color:#C0C0C0; margin-bottom: 2%; text-align: center">
                    <h3>{{ family.familyName }} Profile</h3>
                </div>

            {% include './tables/familyProfileVolunteersTable.html' %}
            {% include './tables/familyProfileStudentsTable.html' %}

    </div>
</div>

{%  endblock %}

{% block extraJquery %}
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({html:true});
});
</script>
{% endblock %}