{%  extends 'account/base.html' %}


{% block title %}
    User Profile - {{ cur_user }}
{% endblock %}


{% block base_content %}
  <div class="container" style="margin-top: 10%">

      <div  class ="row" id = "profileHeader"; style="color:#C0C0C0; text-align: center">
           <h3 class="vmsHeader">User Profile - {{  cur_user.fullName }}</h3>
      </div>


    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default user-data-panel" style="margin-top: -1%">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Profile Information
                        <a class='fa fa-edit pull-right' style="font-size: large"  href="{% url 'updateProfile' %}">  Edit Your Profile</a>
                    </h4>
                </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-sm-4 dataLabel"><strong style="color: navy">Volunteer Type:</strong> {{cur_user.volunteerType }}</div>
                    <div class="col-md-4 col-sm-4 dataLabel"><strong style="color: navy">Cell Phone:</strong> {{cur_user.cellPhone }}</div>
                    <div class="col-md-4 col-sm-4 dataLabel"><strong style="color: navy">Email Address:</strong> {{cur_user.linkedUserAccount.email }}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 dataLabel"><strong style="color: navy">Current Status:</strong> {{cur_user.get_volStatus_display }}</div>
                    <div class="col-md-4 col-sm-4 dataLabel"><strong style="color: navy">User Created:</strong> {{cur_user.linkedUserAccount.date_joined|date }}</div>
                    <div class="col-md-4 col-sm-4 dataLabel"><strong style="color: navy">Last Update:</strong>{{cur_user.dateUpdated|date }}</div>
                </div>

             </div>
            </div>
        </div>
    </div>

    {%  include  'userprofile/volunteerInterest.html' %}

    {%  include  'userprofile/UserFamilyMembership.html' %}

  </div>
{%  endblock %}