{%  extends 'account/base.html' %}


{% block title %}
    User Profile - {{ cur_user }}
{% endblock %}


{% block base_content %}
    <div class="row">
        <div class="col-md-12">
            <div class ="profileBlock">

                <div  class ="row" id = "profileHeader"; style="color:#C0C0C0; text-align: center">
                    <h3>User Profile - {{  cur_user.fullName }}</h3>
                </div>

                <div  class ="row" id = "profileHeader"; style="color:navy">
                    <h4>User Information<a class="pull-right glyphicon glyphicon-edit" title="Edit Profile"
                                            style="font-size: medium" href="{% url 'updateProfile' %}"></a></h4>
                </div>
                <div class ="row">
                    <div class="col-md-2 dataLabel">Volunteer Type:</div>
                        <div class="col-md-2 dataValue">{{cur_user.volunteerType }}</div>
                    <div class="col-md-2 dataLabel">Cell Phone:</div>
                        <div class="col-md-2 dataValue">{{cur_user.cellPhone }}</div>
                    <div class="col-md-2 dataLabel">Email Address:</div>
                        <div class="col-md-2 dataValue">{{cur_user.linkedUserAccount.email }}</div>
                </div>

                <div class ="row">
                    <div class="col-md-2 dataLabel">User Created:</div>
                        <div class="col-md-2 dataValue">{{cur_user.linkedUserAccount.date_joined|date }}</div>
                    <div class="col-md-2 dataLabel">Last Update:</div>
                        <div class="col-md-2 dataValue">{{cur_user.dateUpdated }}</div>
                    <div class="col-md-2 dataLabel">Do Not email:</div>
                        <div class="col-md-2 dataValue">{{cur_user.doNotEmail }}</div>
                </div>


            {%  include  'userprofile/volunteerInterest.html' %}


            </div> <!-- end profile block-->
        </div>
    </div>
{%  endblock %}