<hr>
   <div  class ="row" id = "profileHeader"; style="color:navy; margin-top: 2%">
                    <h4>Family/Group Membership</h4>
         </div>


    <div class="familyContainer" style="margin-bottom: 3%; border-bottom: 1px dotted #C0C0C0">
         {% for fam in userFamily %}
            <div class="'row" style="margin-bottom: 1%"> 
                    <span style="color: navy">
                        <strong>{{fam.familyName}} <a class="glyphicon glyphicon-edit" title="Edit Profile"
                                            style="font-size: small" href="{% url 'updateFamilyProfile' fam.familyProfileId %}"></a></strong>
                     </span> 
                <div style="padding-left: 2%">
                    <address>
                        {{ fam.streetAddress }}, <br> {{ fam.city }}, CO  {{ fam.zip }}
                    </address>
                </div>


                <div class="familyMembers" style="margin-bottom: 1%; margin-left: 2%; margin-top: -1%"> 
                    <span style="color: navy">Family Volunteers:</span> 
                        <ul>
                            {% for mems in fam.volunteers.all %}

                                {% ifnotequal mems.id user.id %}
                                    <li>
                                    {{ mems.name }}
                                    </li>
                                {% endifnotequal %}
                            {% endfor %}
                        </ul>
                </div>

                <div class="familyMembers" style="margin-bottom: 1%; margin-left: 2%; margin-top: -1%"> 
                    <span style="color: navy">Students:</span> 
                    <ul>
                        {% for mems in fam.students.all %}

                                <li>
                                  {{ mems.getFullStudentName }} <i>({{ mems.grade }} - {{ mems.teacher }})
                                 <a class="glyphicon glyphicon-edit" title="Edit Profile"
                                            style="font-size: small" href="{% url 'updatestudent' mems.studentId %}"></a></i>
                                 </li>
                       {% endfor %}
                    </ul>
                </div>


            </div>

        {% endfor %}

    </div>


