    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel panel-default user-data-panel" style="margin-top: -1%">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Volunteer Interests

                    </h4>
                </div>

            <div class="panel-body">
                {%  if cur_user.interest.all %}
                    {% for int in cur_user.interest.all%}
                        {%  include './forms/volunteerInterests_modal.html' %}
                        <a href="#{{ int.interestId }}" data-toggle="modal">{{ int.interestName }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">You have not selected any interests - Please update your profile</div>
                {% endif %}

             </div>
            </div>
        </div>
    </div>
