
                <div  class ="row" id = "profileHeader"; style="color:navy">
                    <h4>Volunteer Interests</h4>
                </div>

                <div class="row">

                {%  if cur_user.interest.all %}
                    {% for int in cur_user.interest.all%}
                        {%  include './forms/volunteerInterests_modal.html' %}
                        <a href="#{{ int.interestId }}" data-toggle="modal">{{ int.interestName }}</a>
                        {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">You have not selected any interests - Please update your profile</div>
                {% endif %}


                </div>
