
                <div  class ="row" id = "profileHeader"; style="color:navy">
                    <h4>Volunteer Interests</h4>
                </div>

                <div class="row">
                {%  if cur_user.interest.all %}
                        {% for int2 in cur_user.interest.all %}
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <span data-toggle="tooltip" title="{{int2.description}}">
                                {{ int2.interestName }}
                            </span>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
                {% else %}
                    You have not selected any interests - Please update your profile.
                {% endif %}
                    </div>
