{% load staticfiles %}
<div class="navbar navbar-default navbar-fixed-top" style="border-bottom: solid navy 1px" role="navigation">

    <div class ="container">
             <a class="navbar-brand">
                 <img class ="img-responsive" style="max-width: 100%; margin-top: -15px; margin-left: -2%" src="{% static "img/NSAVMS.png"%}">
             </a>

        <div class ='navbar-header'>
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                 <span class ="sr-only">Toggle Navigation</span>
                 <span class ='glyphicon glyphicon-menu-hamburger'></span>

             </button>
         </div>

         <div class="navbar-collapse collapse">
            <ul class=" nav navbar-nav navbar-right">

                <li><a href="{%  url 'home' %}">Home</a></li>

                <!--<li><a href="#">News</a></li>-->

            {% if user.is_authenticated %}
                {% if perms.nsavolunteer.is_traffic_manager %}
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Traffic<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"><b>Traffic Data</b></li>
                            <li class="navIndent"><a href="{% url 'addWeeklyTraffic' %}">Log Traffic Hours</a>
                            <li class="navIndent"><a href="{% url 'trafficReportWeekly' %}">Recent Traffic Updates</a>
                        </ul>
                </li>
            {%  endif %}
            {% endif %}




            {% if user.is_authenticated %}
                {% if perms.nsavolunteer.is_volunteer_manager or perms.nsavolunteer.is_avc %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header"><b>Admin & Reporting</b></li>
                                <li class="navIndent"><a href="{% url 'volunteerIndex' %}">Volunteer Index</a></li>
                                <li class="navIndent"><a href="{% url 'familyIndex' %}">Family Index</a></li>
                                <li class="navIndent"><a href="{% url 'approveHours' %}">Approve Hours</a></li>
                            <li class="dropdown-submenu">
                                    <a class='navIndent' tabindex="-1" href="#">School Data</a>
                                    <ul class="dropdown-menu">
                                      <li class="navIndent"><a href="{% url 'eventIndex' %}">Events Index</a></li>
                                      <li class="navIndent"><a href="{% url 'taskIndex' %}">Task Index</a></li>
                                      <li class="navIndent"><a href="{% url 'interestIndex' %}">Interests Index</a></li>
                                      <li class="navIndent"><a href="{% url 'teacherIndex' %}">Teacher Index</a></li>
                                    </ul>
                                </li>

                            <li class="navIndent"><a href="{% url 'volunteer_recruiting' %}">Recruit Volunteers</a></li>
                            <!--<li class="dropdown-header"><b>Data Management</b></li>-->
                                <li class="navIndent"><a href="{% url 'addfamily' %}">Add A New Family</a></li>




                        </ul>
                </li>
                {%  endif %}
            {%  endif %}

                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome: {{user.name}}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header"><b>{{ user.name }}'s information</b></li>
                                    {% if user.linkedUser.volStatus == 'approved' %}
                                    <li class="navIndent"><a href="{% url 'logUserHours' %}">Log Hours</a></li>
                                    {% endif %}
                                    <li class="navIndent"><a href="{% url 'userVolunteerData' %}">My Dashboard</a></li>
                                    <li class="navIndent"><a href="{%  url 'user_profile' %}">My Profile</a></li>
                                    <li class="navIndent"><a href="{% url 'changepassword' %}">Change Password</a></li>
                                    <li class="navIndent"><a href="{% url 'mainlogout' %}">Log out</a></li>
                            </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'mainlogin' %}">Log In</a></li>
                {% endif %}
            </ul>
         </div>


    </div>
</div>