{%  extends 'account/base.html' %}
{% block base_content %}

    <div class="container-fluid" style="padding: 7%">
    <h2 style="color:#C0C0C0; text-align: center; margin-bottom: 3%">User Dashboard - {{ curUser.name }}</h2>
    <p>Total individual volunteer hours: <b>{{ totalVolunteerHoursUser }}</b></p>
    Total volunteer hours for family:
    {% for famx in familySums %}
        <ul style="margin: 1%">
    <li style="margin: -1%">{{famx.familyName}}: <b>{{ famx.totalCurrentHours }}</b></li>
        </ul>
    {% endfor %}


    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Volunteer Hours for {{ curYear }} school year</h4>
        </div>
            {% if volHours %}
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    {% if userFams.all > 1 %}
                    <th>Family</th>
                     {% endif %}
                    <th>Date</th>
                    <th>Event</th>
                    <th>Hours Volunteered</th>
                </tr>
                </thead>
                    {% for hrs in volHours %}
                <tr>
                {% if userFams.all > 1 %}
                    <td>
                        {{ hrs.family }}
                    </td>
                 {% endif %}
                    <td>
                        {{ hrs.eventDate }}
                    </td>
                    <td>
                        {{ hrs.event }}
                    </td>
                    <td>
                        {{ hrs.volunteerHours }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
            <h4 style="color: red; text-align: center">No volunteer hours reported</h4>
        {% endif %}

    </div>

    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Traffic Duty for {{ curYear }} school year</h4>
        </div>
     {% if traffic %}
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Volunteer Hours</th>
                </tr>
                </thead>
                    {% for duty in traffic %}
                <tr>
                    <td>
                        {{ duty.trafficDutyDate }}
                    </td>
                    <td>
                        {{ duty.get_trafficDutyType_display }}
                    </td>
                    <td>
                        {{ duty.volunteerHours }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
                <h4 style="color: red; text-align: center">No traffic duty reported</h4>
        {% endif %}

    </div>

    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Reward Cards for {{ curYear }} school year</h4>
        </div>
    {% if rewardCardData %}
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Store</th>
                    <th>Refill Date</th>
                    <th>Volunteer Hours</th>
                </tr>
                </thead>
                    {% for storeData in rewardCardData %}
                <tr>
                    <td>
                        {{ storeData.storeName }}
                    </td>
                    <td>
                        {{ storeData.refillDate }}
                    </td>
                    <td>
                        {{ storeData.volunteerHours }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
                <h4 style="color: red; text-align: center">No reward cart purchase data reported</h4>
        {% endif %}

    </div>


    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Volunteer Hours By School Year <i>(Individual)</i></h4>
        </div>
    {% if histHours %}
        
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>School Year</th>
                    <th>Total Hours</th>
                </tr>
                </thead>
                    {% for yr in histHours %}
                <tr>
                    <td>
                        {{ yr.schoolYear }}
                    </td>
                    <td>
                        {{ yr.total }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
            <h4 style="color: red; text-align: center">No hours reported</h4>
        {% endif %}
    </div>


  {%  if hasInterests == 0 %}
      {%  include 'modals/volunteerInterestNagModal.html' %}
 {%  endif %}



</div>
{%  endblock %}