{%  extends 'account/base.html' %}
{% block base_content %}

    <div class="container-fluid" style="padding: 7%">
    <h2 class="vmsHeader">{{ curUser.name }}'s Dashboard</h2>



    <div class="row">
        <div class="col-lg-4">
            <p>Total individual volunteer hours: <b>{{ totalVolunteerHoursUser }}</b></p>
            Total volunteer hours for family:
            {% for famx in familySums %}
                <ul style="margin: 1%">
            <li style="margin: -1%">{{famx.familyName}}: <b>{{ famx.totalCurrentHours }}</b></li>
                </ul>
            {% endfor %}
        </div>
        <div class="col-lg-4" style="margin-left: 7%">
            <a href="{% url 'logUserHours' %}" class='btn logHours btn-lg' role="button"style="margin-top: 10%; margin-bottom: -2%">Log Volunteer Hours</a>
        </div>
    </div>


    <div class="panel panel-default user-data-panel"style="margin-top: 2%">
        <div class="panel-heading">
            <h4 class="panel-title" style="margin-top:8px">Volunteer Hours for {{ curYear }} school year</h4>
        </div>
            {% if volHours %}
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th></th>
                    {% if multFam %}
                    <th>Family</th>
                     {% endif %}
                    <th>Date</th>
                    <th>Event</th>
                    <th>Volunteer Hours</th>
                </tr>
                </thead>
                    {% for hrs in volHours %}
                <tr>
                <td align="center">
                        <a href="{%  url 'editUserHours' hrs.volunteerHoursId  %}"><span class="glyphicon glyphicon-edit" style="margin-right: 5%" title="Edit Event"></span></a>|
                        <a href="#"><span id="deletehrs{{hrs.volunteerHoursId}}" class="glyphicon glyphicon-trash"
                                          style="margin-left: 5%" title="Delete Event" data-toggle='modal'
                                          data-target="#deleteVolunteerEvent_{{hrs.volunteerHoursId}}"></span></a>
                </td>
                    {% if multFam %}
                    <td>
                        {{ hrs.family }}
                    </td>
                 {% endif %}
                    <td>
                        {{ hrs.eventDate }}
                    </td>
                    <td>
                        {{ hrs.event }}
                    </td>
                    <td>
                        {{ hrs.volunteerHours }} {% if not hrs.approved %}
                        <i style="color: red;font-size: 12px;margin-left: 1%"> (Pending Approval)</i>{% endif %}
                    </td>
                </tr>
                        {%  include 'modals/deleteVolunteerHoursModal.html' %}
                    {% endfor %}
                </table>
        {% else %}
            <h4 style="color: red; text-align: center">No volunteer hours reported</h4>
        {% endif %}

    </div>

    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Traffic Duty for {{ curYear }} school year</h4>
        </div>
     {% if traffic %}
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Volunteer Hours</th>
                </tr>
                </thead>
                    {% for duty in traffic %}
                <tr>
                    <td>
                        {{ duty.trafficDutyDate }}
                    </td>
                    <td>
                        {{ duty.get_trafficDutyType_display }}
                    </td>
                    <td>
                        {{ duty.volunteerHours }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
                <h4 style="color: red; text-align: center">No traffic duty reported</h4>
        {% endif %}

    </div>

    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Reward Cards for {{ curYear }} school year</h4>
        </div>
    {% if rewardCardData %}
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>Refill Date</th>
                    <th>Store</th>
                    <th>Volunteer Hours</th>
                </tr>
                </thead>
                    {% for storeData in rewardCardData %}
                <tr>
                    <td>
                        {{ storeData.refillDate }}
                    </td>

                    <td>
                        {{ storeData.storeName }}
                    </td>

                    <td>
                        {{ storeData.volunteerHours }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
                <h4 style="color: red; text-align: center">No reward card purchase data reported</h4>
        {% endif %}

    </div>


    <div class="panel panel-default user-data-panel">
        <div class="panel-heading">
            <h4 class="panel-title">Volunteer Hours By School Year <i>(Individual)</i></h4>
        </div>
    {% if histHours %}
        
                <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th>School Year</th>
                    <th>Total Hours</th>
                </tr>
                </thead>
                    {% for yr in histHours %}
                <tr>
                    <td>
                        {{ yr.schoolYear }}
                    </td>
                    <td>
                        {{ yr.total }}
                    </td>
                </tr>
                    {% endfor %}
                </table>
        {% else %}
            <h4 style="color: red; text-align: center">No hours reported</h4>
        {% endif %}
    </div>


  {%  if hasInterests == 0 %}
      {%  include 'modals/volunteerInterestNagModal.html' %}
 {%  endif %}











</div>
{%  endblock %}