{%  extends 'account/base.html' %}
{% block base_content %}

    <div class="container-fluid" style="padding: 7%">



        <div class="row" id="one">
        {% if user.linkedUser.volStatus == 'approved' %}
        <div class="col-md-12 text-center" style="margin-bottom: 1%">

                <a href="{% url 'logUserHours' %}" class='btn btn-md btnnavy',
                   role="button"style="margin-top: 0%">Log Volunteer Hours</a>
        </div>
            {% else %}
        <div class="col-md-12 text-center" style="margin-bottom: 1%">
               <i style="color: red;font-size: 18px">** Cannot log hours until approved for {{ curYear }} **</i>
        </div>
        {% endif %}
    </div>


    <div class="row">
    <table data-toggle="table">
        <thead>
            <tr>
                {% if multFam %}
                    <th data-align='center' data-width="5%">Family Name</th>
                {% endif %}
                 <th data-align='center' data-width="5%">Volunteer Hours</th>
                 <th data-align='center' data-width="5%">Traffic Duty Hours</th>
                 <th data-align='center' data-width="5%"> Hours Pending Approval</th>
                 <th data-align='center' data-width="5%">Reward Card Hours</th>
                 <th data-align='center' data-width="5%">Reward Card Total ($)</th>
                <th data-align='center' data-width="5%">Traffic Duty Requirement</th>
                <th data-align='center' data-width="5%">Total Family Hours</th>
            </tr>
        </thead>
        <tbody>
        {% for fam in fams %}
        <tr>
            {% if multFam %}
            <td>{{ fam.familyName}}</td>
            {% endif %}
            <td>{{ fam.volunteerHours|default_if_none:'0' }}</td>
            <td>{{ fam.trafficDutyHours|default_if_none:'0'  }}</td>
            <td>{{ fam.pendingHours|default_if_none:'0' }}</td>
            <td>{{ fam.rewardCardHours|default_if_none:'0' }}</td>
            <td>${{ fam.rewardCardValue|default_if_none:'0' }}</td>
            <td> {{ fam.totalShifts|floatformat:1|default_if_none:'0' }} of {{ fam.trafficReq|default_if_none:'0' }}</td>
            <td> {{ fam.totalHours|default_if_none:'0' }} of {{ fam.volunteerReq|default_if_none:'0' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="row" style="margin-top: 3%">
                <table data-toggle="table" data-show-export="true" data-striped="True" data-search="true"
                data-export-types=["csv","txt","excel"] data-export-options='{
                "fileName":"{{ user.linkedUser }}_volunteerData"
                }'>
                <thead>
                <tr>
                    {% if multFam %}
                        <th data-sortable="True">Family Name</th>
                    {% endif %}
                    <th data-align='center' data-width="15%" data-sortable="True">Volunteer</th>
                    <th data-align='center' data-width="10%" data-sortable="True">Date</th>
                    <th data-sortable="True">Volunteer Activity</th>
                    <th data-sortable="True">Task</th>
                    <th data-align='center' data-width="5%" data-sortable="True">Volunteer Hours</th>
                    <th data-align='center'data-width="3%" data-sortable="True">Approved</th>
                </tr>
                </thead>
                {% if volData %}
                    {% for data in volData %}
                    <tr>

                    {% if multFam %}
                        <td>
                            {{ data.familyName }}
                        </td>
                    {% endif %}
                    <td>{{ data.firstName }}</td>
                    <td>
                        {{ data.volDate|date:"SHORT_DATE_FORMAT"}}
                    </td>
                    <td>{{ data.hrsType }}</td>
                    <td>{{ data.task|truncatechars:60 }}</td>

                    <td>
                        {{ data.volunteerHours }}
                    </td>
                    <td>
                        {{ data.approved }}
                    </td>
                </tr>
                    {% endfor %}
                 {% else %}
                <tr>
                <td colspan="6">
                    <span  style="color: red">No Volunteer Data Entered</span>
                </td>
                </tr>
                {% endif %}
                </table>

        </div>

  {%  if hasInterests == 0 %}
      {%  include 'modals/volunteerInterestNagModal.html' %}
 {%  endif %}

</div>



{%  endblock %}

    {% block extraJquery %}
<script>
$("#startTour").click(function(){
    DashBoardTour.start();
});
</script>


<script>
// Instance the tour
var DashBoardTour = new Tour({
  debug: true,
  storage: false,
  steps: [
  {
    element: "#userHours",
    title: "Your individual hours",
    content: "This contains the total number of hours you as an individual have volunteered for in the current school year.",
    placement: "right"
  },
  {
    element: "#familyHours",
    title: "Total hours by family",
    content: "This contains the total number of hours you and other family members have volunteered for in the current year.",
    placement:"right"
  },
  {
    element: "#logHrsBtn",
    title: "Log your hours",
    content: "Clicking this button will take you to a new screen where you can log your hours.",
    placement:"right"
  },
    {
    element: "#curYearRecords",
    title: "Volunteer Events Table",
    content: "This table list all of the individual events you have volunteered for this year",
    placement:"right"
  },
  {
    element: "#editIcons",
    title: "Edit Events",
    content: "Use the edit & trash icons to manage the data you have entered.",
    placement:"right"
  },
    {
    element: "#trafficTable",
    title: "Traffic Duty",
    content: "This table lists your traffic duty for the current year. This data is entered & maintained by the traffic coordinator.",
    placement:"right"
  },
      {
    element: "#rewardCardTable",
    title: "Reward Card Data",
    content: "This table lists the hours you have accumulated through the use of the King Soopers & Safeway reward cards ",
    placement:"right"
  },
      {
    element: "#histTable",
    title: "Your historical totals",
    content: "This table lists the hours you volunteered for in the past. These are your volunteer hours and do not reflect your whole family",
    placement:"right"
  }
]});
DashBoardTour.init();
</script>


        {% endblock %}